* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #ebcca2;
}

.navigation {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    padding: 18px 40px;
    background-color: #56091F;
    transition: all 0.5s;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-bottom: 2px solid #ebcca2
}

.img logo {
    width: 50px;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ebcca2;
    display: flex;
    gap: 15px;
}

.nav-menu a {
    color: #ebcca2;
    font-size: 25px;
    font-weight: 600px;
    padding: 5px;
}


.navigation li {
    color: #ebcca2;
    font-weight: 400;
    margin: 0 3rem;
    cursor: pointer;

}


.navigation li:hover {
    font-weight: 600;
    border-bottom: 2px solid #ebcca2;
    font-size: 17px;
}

.navigation ul li a {
    color: #ebcca2;
    font-size: 20px;
    transition: all 0.5s;
    font-weight: 800;

}

.navigation ul li a:hover {
    color: #ebcca2;
}

.menu {
    display: none;
}

.menu .bar {
    width: 28px;
    height: 3px
}

.home-text logo {
    padding-top: 176px;
    margin-left: -52px;
    padding-bottom: 10px;
}


.home-text {
    padding-top: 290px;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3) {
    background: #ffffff;
}


.home-text h1 {
    color: #56091F;
    padding-left: 80px;
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 45px;
}



.home-text h2 {
    color: #56091F;
    margin-left: 76px;
    padding-bottom: 15px;
    margin-top: 15px;
    font-size: 25px;
    max-width: 720px;
    font-weight: 600;
}

.home-text p {
    color: #56091F;
    padding-bottom: 15px;
    padding-left: 80px;
    max-width: 650px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.home-text button {
    background-color: #56091F;
    color: #ebcca2;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    margin-left: 80px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;


}

.home-text button:hover {
    background-color: #56091F;
    color: #ebcca2;
    font-weight: 700;
    box-shadow: 1px 1px 2px #1f1d1f;

}


.home-image img {
    float: right;
    width: 32%;
    margin-top: -180px;
    margin-right: 70px;
}



.about {
    background-color: #56091F;
    height: 946px;
    margin-top: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.about h1 {
    color: #ebcca2;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;



}

.about p {
    color: #ebcca2;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 30px;
    max-width: 1500px;


}


.about-img {
    width: 700px;
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

.titule {
    color: #56091F;
    text-align: center;
    font-size: 40px;
}


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

}

.container h1 {
    text-align: center;
    padding: 65px;
    font-size: 38px;
    color: #56091F;
}

.container h3 {
    color: #ebcca2;

}


.customer-reviews {
    background-color: #56091F;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px 2px #0e0e0e;
}

.review {
    border-bottom: 1px solid #ebcca2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.review {
    transition: filter 0.3s ease;
}

.review:hover {
    filter: brightness(90%);
}



.reviewer-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info h3 {
    margin: 0;
}

.info p {
    margin: 0;
    color: #ebcca2;
    font-weight: 500;
}

.comment {
    font-style: italic;
    color: #ebcca2;
    line-height: 1.6;
}


.rating {
    margin-top: 10px;
}

.stars {
    display: inline-block;
}

.stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 22px;
    letter-spacing: 5px;
    background: linear-gradient(90deg, #f39c12 50%, #f39c12 50%, #f39c12 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stars[data-rating="1"]:before {
    content: "\2605\2606\2606\2606\2606";
}

.stars[data-rating="2"]:before {
    content: "\2605\2605\2605\2606\2606";
}

.stars[data-rating="3"]:before {
    content: "\2605\2605\2605\2606\2606";
}

.stars[data-rating="4"]:before {
    content: "\2605\2605\2605\2605\2606";
}

.stars[data-rating="5"]:before {
    content: "\2605\2605\2605\2605\2605";
}


.container {
    text-align: center;
}


.button-prev-next {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;


}



.prev,
.next {
    background-color: #56091F;
    color: #ebcca2;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.prev:hover,
.next:hover {

    font-weight: 800;
}




.name-bolos {
    color: #ebcca2;
    text-align: center;
    font-size: 45px;
    padding-top: 25px;
    padding-bottom: 70px;

}

.bolo {

    width: 100%;
    overflow: hidden;
    padding-left: 23px;
    padding-right: 23px;
    margin-top: -7px;
    text-align: center;
    background-color: #56091F;
    text-align: center;
    padding-bottom: 60px;
}

.bolo1,
.bolo2,
.bolo3,
.bolo4,
.bolo5,
.bolo6,
.bolo7,
.bolo8,
.bolo9 {
    display: inline-block;
    width: 230px;
    height: 385px;
    margin: 10px;
    color: #56091F;
    background-color: #ebcca2;
    border-radius: 25px;
    vertical-align: top;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 3px 3px 2px #0e0e0e;
}

.sabor {
    font-size: 17px;
    margin-top: 10px;
}


.img-bolo {
    width: 230px;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 3;
    padding-top: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.descricao {
    flex: 1;
    overflow: hidden;

}

.descricao h5 {
    color: #56091F;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}




.descricao h3 {
    background-color: #56091F;
    color: #ebcca2;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #1f1d1f;
    margin-top: 10px;
    font-size: 18px;

}


.descricao p {
    color: #56091F;
    font-size: 13px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}


.fale {
    height: 735px;
    background-color: #ebcca2;
    padding-top: 30px;
}



.fale-conosco {
    max-width: 600px;
    margin: 50px auto;
    color: #ebcca2;
    background-color: #56091F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.fale-conosco h2 {
    text-align: center;
    font-size: 19px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.fale-conosco label {
    display: block;
    margin-bottom: 5px;
}

.fale-conosco input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.fale-conosco button[type="submit"] {
    background-color: #ebcca2;
    color: #56091F;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    margin: 0 auto;

}

.fale-conosco button[type="submit"]:hover {
    box-shadow: 2px 2px 2px 2px #1f1d1f;
    opacity: 0.8;
}


.redes-sociais {
    text-align: center;
    margin-top: 90px;
}


.redes-sociais img {
    width: 45px;
    margin: 0 10px;
}


.redes-sociais h1 {
    color: #56091F;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.direitos {
    text-align: center;
    color: #56091F;
    font-size: 15px;
    padding-top: 35px;
    font-weight: 500;

}




@media (max-width: 785px) {
    .navigation {
        padding: 15px 20px;
        border-bottom: 2px solid #ebcca2;
    }


    .menu {
        display: block;
        margin-left: 290px;
        font-size: 63px;


    }

    .menu.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #ebcca2;
    }

    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
        background-color: #ebcca2;

    }

    .menu.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #ebcca2;

    }


    .menu .bar:nth-child(1),
    .menu .bar:nth-child(3) {
        background: #ebcca2;
    }

    .menu .bar {
        display: block;
        width: 28px;
        height: 3px;
        background: #ebcca2;
        margin: 5px auto;
        transition: all 0.8s;

    }


    .nav-menu {
        position: fixed;
        right: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #56091F;
        color: #ebcca2;
        gap: 3px;
        transition: 0.3s;
        font-size: 26px;
        font-weight: 800;
        cursor: pointer;

    }

    .nav-menu p {
        display: none;
    }



    .nav-menu i {
        font-size: 40px;
        color: #f0efef;
    }

    .nav-menu li:hover {

        color: #ebcca2;
    }

    .nav-menu button {

        color: #ebcca2;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
    }


    .nav-menu i:hover {
        color: #0e0e0e;
    }


    .nav-menu.ativo {
        right: 0;
    }


    .nav-item {
        display: flex;
        justify-content: left;
        align-items: last baseline;
        text-decoration: none;
        color: #ebcca2;
        transition: background-color 0.8s, color 0.8s, transform 0.8s;

    }

    .nav-item:hover {
        color: #ebcca2;
        transform: scale(1.05);

    }

    .nav-item:active {
        color: #ebcca2;
        transform: scale(1.05);

    }

    main {
        margin-top: -222px;
    }



    .home-text h1 {
        font-size: 28px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 20px;

    }


    .home-image img {
        width: 400px;
        display: flex;
        margin: 0 auto;
        margin-top: -19px;
    }

    .home-image {
        text-align: center;
        margin-top: 20px;
    }

    .home-text h2 {
        color: #56091F;
        font-weight: 700;
        font-size: 21px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;

    }


    .home-text p {
        display: none;
    }





    .home-text button {
        width: 200px;
        height: 40px;
        font-size: 13px;
        margin-top: 15px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    .home-text button {
        width: 220px;
        height: 55px;
        font-size: 15px;
        margin-top: 15px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    .about {
        background-color: #56091F;
        height: 871px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about h1 {
        color: #ebcca2;
        font-size: 30px;
        font-weight: 700;
        text-align: center;


    }

    .about p {
        color: #ebcca2;
        font-size: 13px;
        font-weight: 400;
        max-width: 1000px;
        padding-left: 15px;
        padding-right: 15px;

    }


    .about-img {
        width: 395px;
        border-radius: 10%;
        padding-left: 5px;
        padding-right: 5px;
    }


    .bolo {
        padding-left: 10;
        padding-right: 10px;
        text-align: center;
        padding-bottom: 80px;
        margin-top: 12px;
        margin-top: -15px;
    }



    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }

    .container h1 {
        text-align: center;
        padding: 20px;
        font-size: 28px;
        color: #56091F;
    }

    .container h3 {
        color: #ebcca2;

    }


    .customer-reviews {
        background-color: #56091F;
        padding: 14px;
        border-radius: 15px;
    }

    .review {
        border-bottom: 1px solid #ebcca2;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .reviewer-info {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .info h3 {
        margin: 0;
        font-size: 14px;
    }

    .info p {
        margin: 0;
        color: #ebcca2;
        font-weight: 500;
        font-size: 13px;
    }

    .comment {
        font-style: italic;
        color: #ebcca2;
        line-height: 1.6;
        font-size: 13px;
    }

    .name-bolos {
        color: #ebcca2;
        text-align: center;
        font-size: 40px;
        font-weight: 800;

    }

    .bolo1,
    .bolo2,
    .bolo3,
    .bolo4,
    .bolo5,
    .bolo6,
    .bolo7,
    .bolo8,
    .bolo9 {
        width: calc(50% - 24px);
        height: 330px;
        margin: 7px;
        background-color: #ebcca2;
        border-radius: 11px;
        padding: 10px;
        vertical-align: top;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        box-shadow: 2px 2px 3px 2px #0e0e0e;

    }

    .img-bolo {
        width: 150px;
        border-radius: 50%;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 3;
        padding-top: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .descricao {
        text-align: center;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 280px;
        margin: 0 auto;
    }

    .descricao h5 {
        color: #56091F;
        font-size: 17px;
        padding-left: 5px;
        padding-right: 5px;

    }

    .descricao h3 {
        background-color: #56091F;
        color: #ebcca2;
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 700;
    }

    .descricao p {
        color: #56091F;
        font-size: 12px;
        font-weight: 400;
        padding-top: 3px;
        max-width: 300px;
    }


    .fale-conosco {
        max-width: 594px;
        margin: 1px auto;
        color: #ebcca2;
        background-color: #56091F;
        padding: 32px;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 58px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .fale {
        height: 760px;
        background-color: #ebcca2;
        padding-top: 30px;

    }

    .redes-sociais {
        text-align: center;
        margin-top: 98px;
    }

    .direitos {
        text-align: center;
        color: #56091F;
        font-size: 13px;

        padding-bottom: 25px;
        font-weight: 500;
        padding-top: 15px;

    }

}